# SPDX-FileCopyrightText: 2022 Stephan Lachnit <stephanlachnit@debian.org>
#
# SPDX-License-Identifier: CC0-1.0

[master]
fail-under = 10.0

[messages control]
disable = too-many-arguments, too-many-instance-attributes

[format]
max-line-length = 119
indent-after-paren = 4
indent-string = '    '

[similarities]
ignore-docstrings = no

[string]
check-quote-consistency = yes

[variables]
allowed-redefined-builtins = copyright,license
